<div class="containerAll"><button mat-raised-button color="primary" (click)="downloadHtml()">Download HTML</button>
  <mat-grid-list cols="2" rowHeight="1000px">
    <mat-grid-tile colspan="1" rowspan="1">
      <mat-tab-group>
        <mat-tab *ngFor="let tab of tabs; let i = index">
          <ng-template mat-tab-label>
            Aba {{i+1}}
            <mat-icon aria-hidden="false" aria-label="Example home icon" (click)="removeTab(i)">delete</mat-icon>
          </ng-template>
          <mat-form-field class="example-full-width">
            <input matInput maxlength="100" placeholder="Titulo" [name]="'input-'+i" [(ngModel)]='tabs[i].title' (change)="render()">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput maxlength="100" placeholder="Texto" [name]="'input-'+i" [(ngModel)]='tabs[i].text' (change)="render()">
          </mat-form-field>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon aria-hidden="false" (click)="addTab()">add</mat-icon>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </mat-grid-tile>
    <mat-grid-tile colspan="1">
      <div class="smartphone">
        <div class="content">
          <iframe height="100%" width="100%" id="renderHtml" name="renderHtml" [src]="urlDemo | safeHtml"></iframe>
        </div>
      </div>

    </mat-grid-tile>
  </mat-grid-list>
</div>